// MEDIA QUERIES
$xlPlus: 2560px;
$xl: 2048x;
$lgPlus: 1920px;
$lg: 1680px;
$mdPlus: 1440px;
$md: 1280px;
$smBig: 1080px;
$sm: 1024px;
$xsPlus: 768px;
$xs: 576px;
$xsSmall: 376px;

$colorWhite: #ffffff;
$colorBlack: #000000;

// GRID
$span1: span 1;
$span2: span 2;
$span3: span 3;
$span4: span 4;
$span5: span 5;
$span6: span 6;
$span7: span 7;
$span8: span 8;
$span9: span 9;
$span10: span 10;
$span11: span 11;
$span12: span 12;
$val5px: 5px;
$val10px: 10px;
$val15px: 15px;
$val20px: 20px;
$val25px: 25px;
$val30px: 30px;
$val35px: 35px;
$val40px: 40px;
$val45px: 45px;
$val50px: 50px;
$val60px: 60px;
$val80px: 80px;
$gridPaddingSpacing: 10px;

$containerXl: auto;
$containerMarginLg: 10%;
$containerMarginMd: 5.55%;
$containerMarginSm: 30px;
$containerMarginXs: 0;

:root {
    --scrollerGrey: 219,219,219;
    --lightGrey: 227,227,227;
    --darkerGrey: 200,200,200;
    --tmdbDarkBlue: 3,37,65;
    --tmdbLightBlue: 1,180,228;
    --tmdbLighterGreen: 192,254,207;
    --tmdbLightGreen: 30,213,169;
    --tmdbLogoGreen: 144,206,161;
    --tmdbLogoOrange: 253,193,112;
    --tmdbLogoRed: 217,59,99;
    --accountSilver: 149,149,149;
    --accountPink: 234,20,140;
    --accountPurple: 128,91,231;
    --accountGreen: 1,210,119;
    --accountTeal: 1,198,172;
    --accountLightBlue: 1,180,228;
    --accountBlue: 1,119,210;
    --accountOrange: 210,119,1;
    --accountYellow: 210,144,1;
    --accountRed: 212,2,66;
    --imageBorderRadius: 8px;
    --maxPrimaryPageWidth: 1400px;
    --colorWhite: #fff;
    --colorBlack: #000;
  }

@media only screen and (min-width: 1400px) {
  :root {
      --maxPrimaryPageWidth: 1300px;
  }
}
