.banner {
    min-height: 300px;
    height: calc(100vh / 2.5);
    max-height: 360px;
    background-image: linear-gradient(to right, rgba(var(--tmdbDarkBlue), 0.8) 0%, rgba(var(--tmdbDarkBlue), 0) 100%), url(../../main__banner.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    @include media_min($sm) {
        max-width: 1440px;
        margin: 0 auto;
        width: 100%;
    }
    &__inner {
        padding: 30px 40px;
        width: 100%;
    }
    &__title {
        margin-bottom: 50px;
        font-size: 3em;
        font-weight: 700;
        line-height: 1;
        span {
            display: block;
            font-size: .67em;
            font-weight: 600;
            line-height: 1;
            margin-top: 5px;
        }
    }
    &__search {
        position: relative;

        &__wrapper {
            position: absolute;
            top: 46px;
            left: 0;
            background-color: #fff;
            color: #000;
            display: grid;
            row-gap: 20px;
            z-index: 2;
        }
        &__item {
            display: grid;
            color: #000;
            grid-template-columns: 1fr 1fr;
            &-title {
            }
            &-excerpt {
            }
            &-img {
                height: 250px;
                width: auto;
            }
        }
    }
    &__form {
        position: relative;

    }
    &__input {
        width: 100%;
        height: 46px;
        line-height: 46px;
        font-size: 1.05em;
        color: rgba(0,0,0,0.5);
        border: none;
        border-radius: 30px;
        padding: 10px 20px;
        outline: none;
    }
    &__btn {
        font-weight: 700;
        display: inline-flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        height: 46px;
        padding: 10px 26px;
        border: none;
        background: linear-gradient(to right, rgba(var(--tmdbLightGreen), 1) 0%, rgba(var(--tmdbLightBlue), 1) 100%);
        border-radius: 30px;
        position: absolute;
        top: 0;
        right: -1px;
        color: #fff;
    }
}
