.pagination {
    &__input-goto {
        color: inherit;
        padding: 8px;
        border-radius: 5px;
        border: 0 solid rgba(0, 0, 0, .2);
        background: #f0f0f0
    }

    &__nav,
    &__ul {
        display: flex;
        align-items: center;
        justify-content: center
    }

    &__ul {
        padding: 0 5px;
        background: #f0f0f0;
        border-radius: 20px;
    }

    &__li {
        cursor: pointer;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        transition: all .25s ease;
        position: relative;
        backface-visibility: visible;
        margin: 0 2px;
        font-weight: 700;
        color: rgba(0, 0, 0, .5);

        &.disabled {
            opacity: .5;
            pointer-events: none;
        }

        span {
            z-index: 100
        }

        .effect {
            z-index: 50;
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: #f0f0f0;
            top: 0;
            display: block;
            border-radius: 8px;
            transform: scale(.5);
            opacity: 0;
            transition: all .2s ease;
            box-shadow: 0 0 20px 0 rgba(31, 116, 255, .5)
        }

        &.is-current {
            transform: scale(1.05);
            color: $colorWhite;
            font-weight: 700;
            cursor: default;
            background: #f0f0f0;

            .effect {
                opacity: 1;
                transform: scale(1) !important;
                box-shadow: 0 0 20px 0 #f0f0f0
            }
        }

        &:hover {
            &:not(.is-current) {
                color: rgba(31, 116, 255, 1) !important
            }
        }
    }

    &__btns {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        color: rgba(0, 0, 0, .6);
        transition: all .2s ease;
        background: #f0f0f0;
        margin: 0;
        z-index: 200;

        &.disabled,
        &:disabled {
            cursor: default;
            pointer-events: none;
            opacity: .5
        }

        i {
            font-size: 1.2rem
        }

        &:hover {
            background: rgba(31, 116, 255, 1) !important;
            color: $colorWhite
        }
    }

    .effect {
        background: rgba(31, 116, 255, 1) !important;

    }
}
