.skeleton {
    position: relative;
    overflow: hidden;
    background-color: rgba(219, 219, 219, 1) !important;
    border-radius: 6px;
    &:after {
        background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.15));
        content: "";
        animation: skeleton-animation 1.2s infinite;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transform: translateX(-100%);
        z-index: 1;
    }
    &--circle {
        border-radius: 50%;
    }
    &--none:after {
        animation: none;
    }
}

@keyframes skeleton-animation {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
}
