.movie-card {
    position: relative;
    &__info {
        padding: 26px 10px 12px 10px;
    }

    &__img {
        width: 100%;
        border-radius: 8px;
    }

    &__title {
        color: $colorBlack;
        font-weight: 700;
    }

    &__date {
        color: #00000099;
    }
    .play-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 64px;
        pointer-events: none;
    }
    &__btn {
        position: absolute;
        top: 16px;
        right: 16px;
        &.active {
            -webkit-animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
            animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
            svg {
                path {
                    fill: #01b4e4;
                }
            }
        }
        svg {
            pointer-events: none;
            path {
                transition: fill .3s;
            }
        }
        &:hover {
            path {
                pointer-events: none;
                fill: #01b4e4;
            }
        }
    }
}
