fieldset[disabled] .multiselect {
    pointer-events: none
}

.multiselect {
    box-sizing: content-box;
    display: block;
    position: relative;
    width: 100%;
    cursor: pointer;
    min-height: 48px;

    &,
    &__input,
    &__single {
        background-color: transparent;
        touch-action: manipulation;
        border: none;
    }

    &:focus {
        outline: none
    }

    &:hover {
        .multiselect__tags {
        }
    }

    &__placeholder {
        display: inline-block;
        margin-bottom: 10px;
    }

    &__spinner {
        position: absolute;
        right: 10px;
        top: 6px;
        width: 38px;
        height: 34px;
        background: #fff;
        display: block;

        &:after,
        &:before {
            position: absolute;
            content: "";
            top: 50%;
            left: 50%;
            margin: -8px 0 0 -8px;
            width: 16px;
            height: 16px;
            border-radius: 100%;
            border-color: #000 transparent transparent;
            border-style: solid;
            border-width: 2px;
            box-shadow: 0 0 0 1px transparent
        }

        &:before {
            animation: a 2.4s cubic-bezier(.41, .26, .2, .62);
            animation-iteration-count: infinite
        }

        &:after {
            animation: a 2.4s cubic-bezier(.51, .09, .21, .8);
            animation-iteration-count: infinite
        }
    }

    &__tags {
        display: block;
        user-select: none;
        padding: 11px 45px 0 20px;
        border-radius: 40px;
        border: 1.5px solid red;
        background: #fff;
        min-height: 48px;
        transition: border-color .3s;

        &-wrap {
            display: inline
        }
    }

    &__tag {
        position: relative;
        display: inline-block;
        padding: 4px 26px 4px 10px;
        border-radius: .358rem;
        margin-right: 10px;
        color: #fff;
        line-height: 1;
        background: #000;
        margin-bottom: 5px;
        white-space: nowrap;
        overflow: hidden;
        max-width: 100%;
        text-overflow: ellipsis;

        &-icon {
            cursor: pointer;
            margin-left: 7px;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            font-weight: 700;
            font-style: normal;
            width: 22px;
            text-align: center;
            line-height: 22px;
            transition: all .3s ease;
            border-radius: .358rem;

            &:after {
                content: "\D7";
                color: #000;
                font-size: 14px;
            }

            &:focus,
            &:hover {
                background: #000
            }

            &:focus:after,
            &:hover:after {
                color: #fff
            }
        }
    }

    &__input,
    &__single {
        position: relative;
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
    }

    &__input {
        &::placeholder {
            color: #35495e
        }
    }

    &__single {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &--priority {
            position: relative;
            display: inline-flex;
            align-items: center;
            padding-left: 1rem;

            &:after {
                content: '';
                position: absolute;
                left: 0;
                width: 8px;
                min-width: 8px;
                height: 8px;
                border-radius: 50%;
            }

            &.critical {
                &:after {
                    background-color: red;
                }
            }

            &.high {
                &:after {
                    background-color: rgb(247, 206, 83);
                }
            }

            &.normal {
                &:after {
                    background-color: rgb(59, 133, 244);
                }
            }

            &.low {
                &:after {
                    background-color: rgb(170, 174, 179);
                }
            }
        }
    }

    &__current {
        overflow: hidden;
        padding: 8px 30px 0 12px;
        white-space: nowrap;
        border-radius: .358rem;
        border: 1px solid #000
    }

    &__current,
    &__select {
        display: block;
        margin: 0;
        text-decoration: none;
        cursor: pointer
    }

    &__select {
        position: absolute;
        display: flex;
        align-items: center;
        align-self: center;
        right: 15px;
        top: 0;
        bottom: 0;
        padding: 5px;
        text-align: center;
        transition: transform .3s ease;

        &:before {
            content: "";
            border: 1px solid #000;
            border-width: 0 0 2px 2px;
            width: 10px;
            height: 10px;
            margin-top: -4px;
            line-height: 0;
            font-size: 0;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
    }

    &--active {
        z-index: 1;

        .multiselect__select {
            transform: rotate(180deg);
        }
    }

    &--disabled {
        pointer-events: none;

        .multiselect__tags {
            border-color: #acacac;
            background: #d7d7d7;
        }

        .multiselect__placeholder {
            color: #acacac;
        }
    }

    &__loading-enter,
    &__loading-leave-active {
        opacity: 0
    }

    &__loading-enter-active,
    &__loading-leave-active {
        transition: opacity .4s ease-in-out;
        opacity: 1
    }

    &__content {
        display: inline-block;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;

        &-wrapper {
            left: 0;
            right: 0;
            margin-top: 5px;
            max-height: 340px!important;
            position: absolute;
            overflow: auto;
            background: #fff;
            padding: 10px 0;
            box-shadow: 0 5px 30px rgb(110 176 184 / 15%);
            border-radius: 5px;

            &.ps {
                position: absolute;
            }
        }
    }

    &__element {
        display: block
    }

    &__option {
        display: block;
        text-decoration: none;
        text-transform: none;
        position: relative;
        cursor: pointer;
        width: 100%;
        font-family: 'Stolzl Book', sans-serif;
        padding: 8px 20px;
        background-color: transparent;
        transition: background-color .3s, color .3s;
        margin: 0;

        &:hover {
            color: #000;
            background-color: rgba(0, 165, 184, 0.1);
        }

        &:focus {
            color: #000;
        }

        &:after {
            top: 0;
            right: 0;
            position: absolute;
            line-height: 40px;
            padding-right: 12px;
            padding-left: 20px;
            font-size: 13px
        }

        &--selected,
        &--highlight {
            &:after {
                content: attr(data-select);
            }
        }

        &--selected {
            &.multiselect__option--highlight {
                &:after {
                    content: attr(data-deselect);
                }
            }
        }

        &--disabled {
            cursor: text;
            pointer-events: none
        }

        &--group {
            background: #000;
            color: #35495e;

            &.multiselect__option--highlight {
                background: #35495e;
                color: #fff;

                &:after {
                    background: #35495e
                }
            }
        }
    }

    &__strong {
        margin-bottom: 8px;
        line-height: 20px;
        display: inline-block;
        vertical-align: top
    }

    &-enter-active,
    &-leave-active {
        transition: all .15s ease
    }

    &-enter,
    &-leave-active {
        opacity: 0
    }

    &--above .multiselect__content-wrapper {
        bottom: 100%;

        &-wrapper {
            position: absolute;
            display: block;
            background: #fff;
            width: 100%;
            max-height: 340px!important;
            overflow: auto;
            margin-bottom: 5px;
            padding: 10px 0;
            box-shadow: unset;
            border-radius: 5px;
            -webkit-overflow-scrolling: touch;

            &.ps {
                position: absolute;
            }
        }
    }
}

.multiselect__tag ~ .multiselect__input, .multiselect__tag ~ .multiselect__single {
    width: auto
}

.multiselect__option--disabled.multiselect__option--highlight {
    background: #000
}

.multiselect__option--group-selected.multiselect__option--highlight {
    background: #000;
    color: #000;

    &:after {
        content: attr(data-deselect);
    }
}

[dir=rtl] {
    .multiselect {
        text-align: right;

        &__select {
            right: auto;
            left: 1px
        }

        &__tags {
            padding: 8px 8px 0 40px
        }

        &__content {
            text-align: right
        }

        &__option:after {
            right: auto;
            left: 0
        }

        &__clear {
            right: auto;
            left: 12px
        }

        &__spinner {
            right: auto;
            left: 1px
        }
    }
}

@keyframes a {
    0% {
        transform: rotate(0)
    }
    to {
        transform: rotate(2turn)
    }
}
