.alert {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    &.success {
        background-color: green;
    }
    &.error {
        background-color: red;

    }
}
