.progress--round {
    transform: translateY(-50%);
    left: 10px;
    position: absolute;
    background: #000;
    border-radius: 100%;
    width: 43px;
    height: 43px;
    color: #ffffff;
    font-weight: 800;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    &.bad {
        .progress-bar__progress {
            stroke: #db2360;
        }
    }
    &.normal {
        .progress-bar__progress {
            stroke: #d2d531;
        }
    }
    &.good {
        .progress-bar__progress {
            stroke: #21d07a;
        }
    }
    svg {
        transform: rotate(-90deg);
        width: 40px;
        height: 40px;
    }
    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &:after {
            content: '%';
            position: absolute;
            font-size: 6px;

        }
    }
    .progress-bar__background {
        fill: none;
        stroke: #204529;
        stroke-width: 2;
    }

    .progress-bar__progress {
        fill: none;
        stroke: #204529;
        stroke-dasharray: 100 100;
        stroke-linecap: round;
        stroke-width: 2;
        transition: stroke-dashoffset 1s ease-in-out;
    }

}
