.scroller {
    padding-top: 30px;
    grid-area: scroller;
    position: relative;
    &-gradient {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgba(var(--tmdbDarkBlue), 0.75) 0%, rgba(var(--tmdbDarkBlue), 0.75) 100%);
    }
    &.dark-theme {
        background-size: cover;
        background-repeat: no-repeat;
        transition: all .5s;
        .scroller__title {
            color: var(--colorWhite);
        }
        .scroller__wrapper {
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            &:after {
                display: none;
            }
            //.scroller__card {
            //    &-wrapper {
            //        width: 300px;
            //    }
            //}
            //.scroller__card-info {
            //    .card-title {
            //        color: var(--colorWhite);
            //        text-align: center;
            //    }
            //}
            //.scroller__card-img {
            //    width: 300px;
            //    min-height: auto;
            //    transform: scale(1);
            //    transition: transform 0.5s;
            //    &:hover {
            //        transform: scale(1.05);
            //    }
            //}
        }
    }
    &__header {
        display: flex;
        padding: 0 40px;
    }
    &__title {
        margin-right: 20px;
        white-space: nowrap;
        color: var(--colorBlack);
        font-size: 1.5em;
        font-weight: 600;
        z-index: 1;
    }

    &__tabs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border-radius: 30px;
        &.white-theme {
            border: 1px solid var(--colorBlack);
            .scroller-label {
                &:after {
                    background: rgba(var(--tmdbDarkBlue), 1);
                }
            }
            .scroller-input {
                & + label {
                    color: var(--colorBlack);
                }
                &:checked  {
                    & + label {
                        color: var(--colorWhite);
                        &:first-of-type {
                            &::after {
                                background: rgba(var(--tmdbDarkBlue), 1);
                            }
                        }
                    }

                }
            }
        }
        &.dark-theme {
            border: 1px solid rgba(var(--tmdbLightGreen), 1);
            .scroller-label {
                &:after {
                    background: linear-gradient(to right, #c0fecf 0%, #1ed5a9 100%);
                }
            }
            .scroller-input {
                & + label {
                    color: var(--colorWhite);
                }
                &:checked  {
                    & + label {
                        color: var(--colorBlack);
                        &::after {
                            background: linear-gradient(to right, #c0fecf 0%, #1ed5a9 100%);
                        }
                    }

                }
            }
        }
        .scroller-label {
            cursor: pointer;
            font-size: 16px;
            font-weight: 600;
            padding: 4px 20px;
            text-align: center;
            position: relative;
            z-index: 1;
            &:first-of-type::after {
                content: '';
                height: 100%;
                width: 100%;
                border-radius: 24px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transform: translateX(100%);
                width: 100%;
                transition: all .2s ease-in-out;
            }
        }
        .scroller-input {
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
            &:checked  {
                & + label {
                    &::after {
                        transform: translateX(0);
                        width: 100%;
                    }
                }
            }
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-auto-flow: column;
        column-gap: 20px;
        overflow-x: scroll;
        padding: 20px 40px;
        position: relative;
        &:after {
            content: '';
            width: 60px;
            height: 100%;
            position: sticky;
            top: 0;
            right: -40px;
            background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, #fff 100%);
            will-change: opacity;
            pointer-events: none;
        }
        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(var(--scrollerGrey), 1);
            border-radius: 20px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }
    }
    .movie-card {
        img {
            min-height: 225px;
            width: 150px;
        }
        &__wrapper.horizontal {
            img {
                min-height: unset;
                max-height: 168px;
                width: 300px;
            }
            .movie-card__title {
                color: #ffffff;
                text-align: center;
            }
        }
    }
    //&__card {
    //    &-wrapper {
    //        position: relative;
    //        width: 150px;
    //        cursor: pointer;
    //        .play-icon {
    //            position: absolute;
    //            top: 50%;
    //            left: 50%;
    //            transform: translate(-50%, -50%);
    //            width: 64px;
    //            pointer-events: none;
    //        }
    //    }
    //    &-img {
    //        border-radius: 8px;
    //        min-height: 225px;
    //        object-fit: cover;
    //        width: 150px;
    //        background-color: #dbdbdb;
    //        background-size: 50%;
    //        box-sizing: border-box;
    //        background-image: url(https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-38-picture-grey-c2ebdbb057f2a7614185931650f8cee23fa137b93812ccb132b9df511df1cfac.svg);
    //        background-position: center;
    //        background-repeat: no-repeat;
    //    }
    //
    //    &-info {
    //        width: 100%;
    //        padding: 26px 10px 12px;
    //        position: relative;
    //        white-space: normal;
    //        display: flex;
    //        align-content: flex-start;
    //        flex-wrap: wrap;
    //
    //        .card-title {
    //            font-size: 1em;
    //            margin: 0;
    //            width: 100%;
    //            overflow-wrap: break-word;
    //            color: var(--colorBlack);
    //            font-weight: 700;
    //        }
    //
    //        .card-date {
    //            font-size: 1em;
    //            margin: 0;
    //            padding: 0;
    //            color: rgba(0, 0, 0, 0.6);
    //        }
    //    }
    //}
}
