<template>
    <section class="films-page movies-page">
        <div class="container">
            <movie-aside
                title="Вподобані"
            />
            <div class="page__main">
                <movie-card
                    v-for="card in GET_FAVORITES"
                    :card="card"
                />
            </div>
        </div>
    </section>
</template>

<script>
    import MovieCard from "../blocks/MoviesCard.vue";
    import movieAside from "../blocks/AsideBlock.vue"
    import { mapGetters } from 'vuex'

    export default {
        name: 'FavoritesPage',
        components: {
            MovieCard,
            movieAside
        },
        computed: {
            ...mapGetters([
                'GET_FAVORITES'
            ])
        }
    }
</script>
