<template>
    <section class="films-page movies-page">
        <div class="container">
            <movie-aside :title="$t('general.popularFilms')"/>
            <div class="row">
                <movie-card
                    class="col-md-3 col-sm-4 col-6"
                    v-for="card in GET_POPULAR_FILMS.results"
                    :card="card"
                />
            </div>
            <button
                class="movies-page__btn"
                @click="ACT_CONCAT_POPULAR_FILMS()"
            >
                {{ $t('general.loadMore') }}
            </button>
        </div>
    </section>
</template>

<script>
import movieAside from "../blocks/AsideBlock.vue"
import MovieCard from "../blocks/MoviesCard.vue"
import { mapActions, mapGetters } from "vuex"

export default {
    name: 'FilmsPage',
    components: {
        movieAside,
        MovieCard
    },
    computed: {
        ...mapGetters([
            'GET_POPULAR_FILMS',
        ])
    },
    methods: {
        ...mapActions([
            'ACT_CONCAT_POPULAR_FILMS'
        ]),
    },
    created() {
        this.ACT_CONCAT_POPULAR_FILMS();
    }
}
</script>
