<template>
    <main-banner/>
    <main v-cloak class="main container">
        <scroller
            :scroller-toggles="true"
            :scrollerTitle="$t('general.whatsPopular')"
            :scrollerData="GET_POPULAR_FILMS"
            :showDate="true"
            :darkTheme="false"
            :favoriteBtn="false"
            scrollerType="popular"
            :scrollerFirstTabText="$t('general.onTv')"
            :scrollerSecondTabText="$t('general.inCinemas')"
        />
        <scroller
            :scroller-toggles="false"
            :scrollerTitle="$t('general.latestTrailers')"
            :scrollerData="GET_TRAILERS_OF_FILMS"
            :showDate="true"
            :darkTheme="true"
            horizontalCard
            :favoriteBtn="false"
            scrollerType="trailers"
        />
        <scroller
            :scroller-toggles="true"
            :scroller-title="$t('general.inTrends')"
            :scroller-data="GET_TRENDING_MOVIES.results"
            :showDate="true"
            :darkTheme="false"
            :favoriteBtn="false"
            scrollerType="trends"
            :scrollerFirstTabText="$t('general.today')"
            :scrollerSecondTabText="$t('general.onThisWeek')"
        />
    </main>
</template>

<script>
    import mainBanner from "../blocks/BannerBlock.vue";
    import Scroller from "../blocks/Scroller.vue";
    import {mapActions, mapGetters} from 'vuex';

    export default {
        name: 'HomePage',
        components: {
            mainBanner,
            Scroller
        },
        data() {
            return {
            }
        },
        computed: {
            ...mapGetters([
                'GET_POPULAR_FILMS',
                'GET_TRENDING_MOVIES',
                'GET_UPCOMING_FILMS',
                'GET_TRAILERS_OF_FILMS'
            ]),

        },
        methods: {
            ...mapActions([
                'GET_UPCOMING_FILMS_FROM_API'
            ]),
        },
        created() {
            if (!this.GET_TRAILERS_OF_FILMS?.length) {
                this.GET_UPCOMING_FILMS_FROM_API();
            }

        }
    }
</script>
