<template>
    <section class="movie">
        <div
            class="movie__top"
            :style="{
                backgroundImage: `linear-gradient(to right, #15191a 150px, rgba(21, 25, 26, 0.84) 100%), url(${imageUrl + movie.backdrop_path})`
            }"
        >
            <div class="movie__base container">
                <div class="movie__poster">
                    <img
                        class="movie__poster-img"
                        :src="imageUrl + movie.poster_path"
                    >
                </div>
                <div class="movie__base-wrapper">
                    <div class="movie__title">
                        {{ movie.title || movie.name }}
                        <span>({{ compYear }})</span>
                    </div>
                    <div class="movie__subtitle">
                        <template v-if="movie.release_date">
                            {{ movie.release_date }} •
                        </template>
                        <template v-for="(genre, idx) in movie.genres">
                            <template v-if="idx === movie.genres.length - 1">
                                {{ genre.name }}
                            </template>
                            <template v-else>
                                {{ genre.name }},&#160;
                            </template>
                        </template> •
                        {{ movie?.runtime ? runtime : (movie?.episode_run_time ? movie?.episode_run_time[0] : '')  }}
                    </div>
                    <div class="movie__rate">
                        {{ movie.vote_average }}
                    </div>
                    <p class="movie__tagline">
                        {{ movie.tagline }}
                    </p>
                    <div
                        v-if="movie.overview"
                        class="movie__overview"
                    >
                        <h2 class="movie__overview-title">
                            {{ $t('general.description') }}
                        </h2>
                        <p class="movie__overview-text">
                            {{ movie.overview }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="movie__main">
            MAIN
        </div>
    </section>
</template>

<script>

import {mapActions, mapGetters} from "vuex";

export default {
    name: 'FilmsItemPage',
    data() {
        return {
            imageUrl: import.meta.env.VITE_IMAGE_URL
        }
    },
    props: {
        id: {
            type: [Number, String],
            default: 0
        },
        media_type: {
            type: String
        }
    },
    methods: {
        ...mapActions([
            'ACT_GET_MOVIE'
        ]),
        fetchData() {
            let type = this.$route.path.split('/')[1]
            this.$route.path.split('/').forEach(el => {
                if (el === this.$i18n.availableLocales[0]) {
                    type = this.$route.path.split('/')[2]
                }
            })
            this.ACT_GET_MOVIE({
                type: type,
                id: this.$route.params.id
            })

        }
    },
    computed: {
        ...mapGetters([
            'GET_MOVIE'
        ]),
        movie() {
            return this.GET_MOVIE
        },
        runtime() {
            return `${Math.floor(this?.movie?.runtime / 60)}ч ${this?.movie?.runtime % 60}м`
        },
        compYear() {
            return this.movie?.first_air_date?.split('-')[0]
        }
    },
    created() {
        this.fetchData();
    }
}
</script>
