<template>
    <section class="person">
        <div class="person__aside">
            <img
                class="person__img"
                 :src="person.profile_path != null ? imageUrl + person.profile_path : 'https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-36-user-female-grey-d9222f16ec16a33ed5e2c9bbdca07a4c48db14008bbebbabced8f8ed1fa2ad59.svg'"
                 :alt="person.name"
            >
            <div class="person__info">
                <div class="person__info-title">
                    Особиста інформація
                </div>
                <div class="person__info-known-for person__info-item">
                    <div class="person__info-subtitle">
                        Відомий(-а) за
                    </div>
                    <div class="person__info-text">
                        {{ person.known_for_department }}
                    </div>
                </div>
                <div class="person__info-gender person__info-item">
                    <div class="person__info-subtitle">
                        Стать
                    </div>
                    <div class="person__info-text">
                        {{ person.gender }}
                    </div>
                </div>
                <div class="persom__info-birthday person__info-item">
                    <div class="person__info-subtitle">
                        День народження
                    </div>
                    <div class="person__info-text">
                        {{ person.birthday }}
                    </div>
                </div>
                <div class="person__info-birthplace person__info-item">
                    <div class="person__info-subtitle">
                        Місце народження
                    </div>
                    <div class="person__info-text">
                        {{ person.place_of_birth }}
                    </div>
                </div>
                <ul class="person__info-known-as person__info-item">
                    <div class="person__info-subtitle">
                        Також відомий як
                    </div>
                    <li
                        v-for="known_as in person.also_known_as"
                        class="person__info-known-as-item person__info-text"
                    >
                        {{ known_as}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="person__main">
            <div class="person__name">
                {{ person.name }}
            </div>
            <div class="person__biography">
                <div class="person__biography-title">
                    Біографія
                </div>
                <div class="person__biography-text">
                    {{person.biography}}
                </div>
            </div>
            <scroller
                :scroller-title="scrollerTitle"
                :scrollerToggles="false"
                :scrollerData="this.person.known_for"
            />
        </div>
    </section>
</template>

<script>
    import Scroller from "../blocks/Scroller.vue"

    export default {
        name: 'PersonsItemPage',
        components: {
            Scroller
        },
        data() {
            return {
                imageUrl: import.meta.env.VITE_IMAGE_URL,
                person: {},
                runtime: 0,
                scrollerTitle: 'Відомий(-а) за'
            }
        },
        methods: {
            fetchData() {
                this.$api
                    .get(`/person/${this.$attrs.id}`)
                    .then(res => {
                        this.person = res.data;

                        if (this.person.biography === "") {
                            this.$api
                                .get(`/person/${this.$attrs.id}`)
                                .then(res => {
                                    this.person.biography = res.data.biography;
                                })
                        }
                        if (this.person.profile_path === null) return
                        if (this.person.gender === 2) {
                            return this.person.gender = 'Чоловік'
                        } else if (this.person.gender === 1) {
                            return this.person.gender = 'Жінка'
                        }

                    });
            }
        },
        created() {
            this.fetchData();
        }
    }
</script>
