<template>
    <main v-cloak class="main">
        <div class="section__title">
            {{ $t('general.popularPeople') }}
        </div>
        <section class="persons">
            <router-link
                :to="{
                    name: 'PersonsItemPage',
                    params: {
                        id: person.id
                   }
                }"
                v-for="person in GET_POPULAR_PERSONS.results"
                :key="person.id"
                class="person-card"
            >
                <img
                    class="person-card__img"
                    :src="person.profile_path != null ? imageUrl + person.profile_path : 'https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-36-user-female-grey-d9222f16ec16a33ed5e2c9bbdca07a4c48db14008bbebbabced8f8ed1fa2ad59.svg'"
                    :alt="person.name"
                >
                <div class="person-card__info">
                    <div class="person-card__info-name">
                        {{ person.name }}
                    </div>
                    <div class="person-card__info-films">
                        <template v-for="movie in person?.known_for">
                            {{ movie.title }}
                        </template>
                    </div>
                </div>
            </router-link>
        </section>
        <iv-pagination
            :initial-page="page"
            :total="GET_POPULAR_PERSONS.total_pages"
            @change="goToPage($event)"
        />
    </main>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'
import ivPagination from '../components/ivPagination.vue'

export default {
    name: 'PersonsPage',
    data() {
        return {
            imageUrl: import.meta.env.VITE_IMAGE_URL,
            page: 1
        }
    },
    components: {
        ivPagination,
    },
    computed: {
        ...mapGetters([
            'GET_POPULAR_PERSONS'
        ])
    },
    methods: {
        ...mapActions([
            'GET_POPULAR_PERSONS_FROM_API'
        ]),
        goToPage(page) {
            this.$router.push({
                name: 'PersonsPage',
                query: {
                    page: page
                }
            });
            this.GET_POPULAR_PERSONS_FROM_API(page || 1);
        }
    },
    beforeRouteEnter(to, from, next) {
        next(vm => {
            vm.GET_POPULAR_PERSONS_FROM_API(vm.$route.query.page || 1);
        })
    },
    beforeRouteUpdate(to, from, next) {
        this.page = Number(to.query.page)
        next()
    }
}
</script>
