<template>
    <section class="films-page movies-page">
        <div class="container">
            <movie-aside :title="$t('general.popularSerials')"/>
            <div class="page__main">
                <movie-card
                    v-for="card in GET_POPULAR_SERIALS.results"
                    :card="card"
                />
            </div>
            <button
                class="movies-page__btn"
                @click="ACT_CONCAT_POPULAR_SERIALS()"
            >
                {{ $t('general.loadMore') }}
            </button>
        </div>
    </section>
</template>

<script>
import movieAside from "../blocks/AsideBlock.vue";
import MovieCard from "../blocks/MoviesCard.vue"
import { mapActions, mapGetters } from "vuex";

export default {
    name: 'SerialsPage',
    components: {
        movieAside,
        MovieCard
    },
    computed: {
        ...mapGetters([
            'GET_POPULAR_SERIALS',
        ])
    },
    methods: {
        ...mapActions([
            'ACT_CONCAT_POPULAR_SERIALS'
        ])
    },
    created() {
        this.ACT_CONCAT_POPULAR_SERIALS()
    }
}
</script>
