.movies-page {
    margin-top: 40px;
    margin-bottom: 40px;

    & > .container {
        display: grid;
        grid-template-columns: 260px minmax(180px, 1fr);
        @include media($sm) {
            grid-template-columns: 1fr;
        }
    }

    .page__aside {
        .section__title {
            margin-top: unset;
        }
    }
    .row {
        row-gap: 30px;
    }
    &__btn {
        margin-top: 30px;
        margin-left: auto;
        padding: 0;
        max-width: 1040px;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: var(--imageBorderRadius);
        background-color: rgba(var(--accountLightBlue), 1);
        font-size: 24px;
        font-weight: 700;
        color: var(--colorWhite);
        border: none;
        grid-area: 2 / 2;
        @include media($sm) {
           grid-area: auto;
        }
    }
}
