.movie {
    &__top {
        background-size: cover;
    }
    &__base {
        display: flex;
        padding: 30px 40px;
        column-gap: 40px;
        &-wrapper {

        }
    }
    &__poster {
        &-img {
            width: 300px;
            max-height: 450px;
            border-radius: 8px;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 35px;
        color: var(--colorWhite);
        span {
            font-weight: 400;
        }
    }
    &__subtitle {
        margin-top: 8px;
    }
    &__rate {
        margin-top: 24px;
    }
    &__tagline {
        font-size: 1.1em;
        font-weight: 400;
        font-style: italic;
        opacity: 0.7;
        margin-top: 20px;
    }
    &__overview {
        margin-top: 10px;
        &-title {
            margin-bottom: 8px;
        }
        &-text {

        }
    }
}
