.persons {
    color: #000 !important;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: space-between;
    column-gap: 30px;
    row-gap: 30px;
    margin-top: 30px;

    .person-card {
        box-shadow: 0 2px 8px #0000001a;
        border: 1px solid rgba(var(--lightGrey), 1);
        display: flex;
        flex-direction: column;

        &__img {
            object-fit: cover;
            object-position: center;
        }

        &__info {
            padding: 8px 10px;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-top: auto;

            &-name {
                font-weight: 600;
                font-size: 1.1em;
                color: #000
            }

            &-films {
                font-size: 0.9em;
                font-weight: 400;
                color: rgba(0, 0, 0, 0.6);
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }

    }
}

.pagination {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    color: #000;
    padding: 20px 0;
}

.page-number {
    color: #000;
    padding: 5px;
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.6);
        color: #fff;
    }

    &--active {
        border: 1px solid #000;
    }

    &:first-child {
        margin-right: 20px;
        position: relative;

        &:before {
            content: '...';
            position: absolute;
            right: -25px;
            cursor: default;
            pointer-events: none;
        }

        &:hover {
            &:before {
                color: #000;
            }
        }

        &.page-number--active {
            margin-right: unset;

            &:before {
                display: none;
            }
        }
    }

    &:last-child {
        margin-left: 20px;
        position: relative;

        &:before {
            content: '...';
            position: absolute;
            left: -25px;
            cursor: default;
            pointer-events: none;
        }

        &:hover {
            &:before {
                color: #000;
            }
        }

        &.page-number--active {
            margin-left: unset;

            &:before {
                display: none;
            }
        }
    }
}

