.person {
  padding: 40px;
  color: #000;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-areas: 'aside main' 'scroller scroller';
  margin: 0 auto;
  max-width: var(--maxPrimaryPageWidth);

  &__aside {
    grid-area: aside;
  }
  &__img {
    border-radius: 8px;
  }

  &__info {
    margin-top: 30px;
    &-title {
      margin-bottom: 4px;
      font-weight: 600;
      font-size: 1.3em;
    }
    &-subtitle {
      font-weight: 600;
    }
    &-text {

    }
    &-item {
      margin-bottom: 20px;
    }
    &-known-for {

    }

    &-gender {

    }

    &-birthday {

    }

    &-birthplace {

    }

    &-known-as-item {
      margin-top: 8px;
      &:nth-of-type(1) {
        margin-top: 0;
      }
    }

  }

  &__main {
    grid-area: main;
    padding-left: 30px;
  }

  &__name {
    font-size: 2.2rem;
    font-weight: 700;
  }

  &__biography {

    &-title {
      font-weight: 600;
      font-size: 1.3em;
      margin-bottom: 8px;
      margin-top: 30px;
    }
    &-text {
      line-height: 22px;
      font-size: 1em;
    }
  }

}
