<template>
    <language-switcher
        v-slot="{ links }"
        tag="select"
        @change="switchLanguage"
        active-class="true"
    >
        <option
            v-for="link in links"
            :key="link.langIndex"
            :value="link.url"
            :selected="Boolean(link.activeClass)"
        >
            {{ link.langName }}
        </option>
    </language-switcher>
</template>

<script>
export default {
    name: 'IvLangSelect',
    data() {
        return {
            value: this.$i18n.locale,
        }
    },
    watch: {
        value(value) {
            this.$i18n.locale = value
        }
    },
    mounted() {
    },
    methods: {
        switchLanguage(e) {
            window.location = e.target.value;
        },
    },

}
</script>
