<template>
    <div class="pagination">
        <nav class="pagination__nav">
            <button
                :class="[
                    'pagination__btns pagination__button--prev',
                    {
                        disabled: current <= 1 ? 'disabled' : null
                    }
                ]"
                :disabled="current === 1"
                @click="prevPage"
            >
                <slot name="arrow-prev">
                    <icon icon='ep:arrow-left' />
                </slot>
            </button>
            <ul class="pagination__ul">
                <template
                    v-for="(page, index) in pages"
                    :key="index"
                >
                    <li
                        :class="[
                            'pagination__li',
                            {
                                'is-current': page === current
                            }
                        ]"
                        @click="goTo(page)"
                    >
						<span v-if="page !== 'forcePrev' && page !== 'forceNext'">
							{{ normalPage(page) }}
						</span>
                        <slot
                            v-if="page === 'forcePrev'"
                            name="forcePrev"
                            @click="goTo(page)"
                        >
                            <icon icon='ep:d-arrow-left' />
                        </slot>
                        <slot
                            v-if="page === 'forceNext'"
                            name="forceNext"
                            @click="goTo(page)"
                        >
                            <icon icon='ep:d-arrow-right' />
                        </slot>
                        <div class="effect"></div>
                    </li>
                </template>

            </ul>
            <button
                :class="[
                    'pagination__btns pagination__button--next',
                    {
                        disabled: current === total ? 'disabled' : null
                    }
                ]"
                :disabled="current === total"
                @click="nextPage"
            >
                <slot name="arrow-next">
                    <icon icon='ep:arrow-right' />
                </slot>
            </button>
            <input
                v-if="goto"
                v-model="go"
                :max="total"
                class="pagination__input-goto"
                min="1"
                type="number"
                @change="goTo"
            >
        </nav>
    </div>
</template>
<script>
export default {
    name: 'IvPagination',
    props: {
        total: {
            type: Number,
            default: 1
        },
        initialPage: {
            type: Number,
            default: 1
        },
        max: {
            type: Number,
            default: 7
        },
        goto: {
            type: Number
        },
    },
    emits: ['input', 'change'],
    data() {
        return {
            pages: [],
            current: 0,
            go: 0,
            prevRange: '',
            nextRange: ''
        }
    },
    watch: {
        current() {
            this.getPages();
            this.$emit('input', this.current);
            this.$emit('change', this.current)
        },
        total() {
            this.getPages()
        },
        initialPage(val) {
            const pageNum = val < 1 ? 1 : (val <= this.total ? val : this.total);
            this.goTo(pageNum)
        }
    },
    mounted() {
        this.current = this.go = this.initialPage;
        this.getPages()
    },
    methods: {
        goTo(page) {
            if (page === '...') {
                return
            }
            if (page === 'forceNext') {
                this.current = this.current + this.prevRange <= this.total ? this.current + this.prevRange : this.total
                return
            }
            if (page === 'forcePrev') {
                this.current = this.current - this.prevRange >= 1 ? this.current - this.prevRange : 1
                return
            }
            if (typeof page.target === 'undefined') {
                this.current = page
            } else {
                const value = parseInt(page.target.value, 10);
                this.go = (
                    value < 1 ? 1 : (value <= this.total ? value : this.total)
                );
                this.current = this.go
            }
        },
        getPages() {
            if (this.total <= this.max) {
                this.pages = this.setPages(1, this.total)
            }
            const even = this.max % 2 === 0 ? 1 : 0;
            if (this.total < 6) {
                this.prevRange = Math.floor(this.max / (this.max / 2))
            } else {
                this.prevRange = Math.floor(this.max / 2)
            }
            this.nextRange = this.total - this.prevRange + 1 + even;

            if (this.current >= this.prevRange && this.current <= this.nextRange) {
                const start = this.current - this.prevRange + 2;
                const end = this.current + this.prevRange - 2 - even;
                if (this.$slots.forcePrev && this.$slots.forceNext) {
                    this.pages = [1, 'forcePrev', ...this.setPages(start, end), 'forceNext', this.total]
                } else {
                    this.pages = [1, '...', ...this.setPages(start, end), '...', this.total]
                }
            } else if (this.total < 6) {
                this.pages = [
                    ...this.setPages(1, this.total)
                ]
            } else {
                if (this.$slots.forcePrev && this.$slots.forceNext) {
                    if (this.current <= this.prevRange) {
                        this.pages = [
                            ...this.setPages(1, this.prevRange),
                            'forceNext',
                            ...this.setPages(this.nextRange, this.total)
                        ]
                    }
                    if (this.current >= this.nextRange) {
                        this.pages = [
                            ...this.setPages(1, this.prevRange),
                            'forcePrev',
                            ...this.setPages(this.nextRange, this.total)
                        ]
                    }
                } else {
                    this.pages = [
                        ...this.setPages(1, this.prevRange),
                        '...',
                        ...this.setPages(this.nextRange, this.total)
                    ]
                }
            }

        },
        setPages(start, end) {
            const setPages = [];

            for (start > 0 ? start : 1; start <= end; start++) {
                setPages.push(start)
            }

            return setPages
        },
        nextPage() {
            if (this.current < this.total) {
                this.current++
            }
        },
        prevPage() {
            if (this.current > 1) {
                this.current--
            }
        },
        normalPage(page) {
            if (page !== 'forcePrev' || page !== 'forceNext') {
                return page
            }
        }
    }
}
</script>
