<template>
	<component
        :is="tag ? tag : 'div'"
		:style="[
		    {
                marginTop: marginTop,
                marginBottom: marginBottom,
                marginLeft: marginLeft

		    },
		containerStyle]"
		:class="['skeleton', {
            'skeleton--circle': shape === 'circle',
            'skeleton--none': animation === 'none'
        }]"
	>
		<slot name="skeletonContent"/>
	</component>
</template>

<script>
	export default {
		name: 'IvSkeleton',
		props: {
			shape: {
				type: String,
				default: 'rectangle'
			},
			size: {
				type: String,
				default: null
			},
			width: {
				type: String,
				default: '100%'
			},
			height: {
				type: String,
				default: '1rem'
			},
            marginTop: {
                type: String,
                default: null
            },
            marginBottom: {
                type: String,
                default: null
            },
            marginLeft: {
                type: String,
                default: null
            },
			borderRadius: {
				type: [String, Number],
				default: null
			},
			animation: {
				type: String,
				default: 'wave'
			},
            tag: {
			    type: String,
                default: 'div'
            }
		},
		computed: {
			containerStyle() {
				if (this.size) {
                    return {
                        width: this.size, height: this.size, borderRadius: this.borderRadius
                    }
                } else {
                    return {
                        width: this.width, height: this.height, borderRadius: this.borderRadius
                    }
                }
			}
		}
	}
</script>
