<template>
    <div :class="['progress--round', compProgressClass]">
        <svg xmlns="http://www.w3.org/2000/svg"
             viewBox="-1 -1 34 34">

            <circle cx="16" cy="16" r="15.9155"
                    class="progress-bar__background" />

            <circle cx="16" cy="16" r="15.9155"
                    ref="roundProgress"
                    :stroke-dashoffset="100 - (this.rate * 10)"
                    class="progress-bar__progress" />
        </svg>
        <span>
            {{ rate * 10}}
        </span>
    </div>
</template>

<script>
export default {
    name: "RoundProgress",
    props: {
        rate: {
            type: Number, String,
            default: 0
        }
    },
    computed: {
        compProgressClass() {
            if (this.rate <= 4) {
                return 'bad'
            }
            if (this.rate > 4 && this.rate < 7) {
                return 'normal'
            }
            if (this.rate >= 7) {
                return 'good'
            }
        }
    }
}
</script>
