<template>
    <div class="page__aside">
        <div class="section__title">
            {{ title }}
        </div>
    </div>
</template>

<script>
    export default {
        name: 'movieAside',
        props: {
            title: {
                type: String,
                default: ''
            }
        }
    }
</script>
