<template>
    <section class="banner">
        <div class="banner__inner">
            <h1 class="banner__title">
                {{ $t('components.homePage.mainBannerTitle') }}
                <span>
                    {{ $t('components.homePage.mainBannerSubTitle') }}
                </span>
            </h1>
            <div class="banner__search">
                <form id="banner-search-form" class="banner__form">
                    <input
                        class="banner__input"
                        type="text"
                        :placeholder="$t('components.searchPage.searchPlaceholder')"
                        v-model="query"
                    >
                    <button
                        class="banner__btn"
                        @click="searchQuery"
                    >
                        {{ $t('general.searchFor') }}
                    </button>
                </form>
            </div>
        </div>
    </section>
</template>

<script>

export default {
    name: 'BannerBlock',
    data() {
        return {
            query: ''
        }
    },
    methods: {
        searchQuery() {
            this.$router.push({
                name: 'SearchPage',
                query: {
                    search: this.query
                }
            })
        }
    }
}
</script>
