<template>
    <footer class="footer">
        <router-link
            :to="{name: 'HomePage'}"
            class="logo footer__logo"
        >
            <img src="../assets/footer-logo.svg"
            >
        </router-link>
        <nav class="footer__nav">
            <ul class="footer__nav-list">
                <li class="footer__list-item--title footer__list-item">
                    {{$t("components.FooterBlock.theBasics")}}
                </li>
                <li class="footer__list-item">
                    {{$t("components.FooterBlock.AboutTmdb")}}
                </li>
                <li class="footer__list-item">
                    {{$t("components.FooterBlock.ContacsUs")}}
                </li>
                <li class="footer__list-item">
                    {{$t("components.FooterBlock.SupportForums")}}
                </li>
                <li class="footer__list-item">
                    {{$t("components.FooterBlock.Api")}}
                </li>
                <li class="footer__list-item">
                    {{$t("components.FooterBlock.SystemStatus")}}
                </li>
            </ul>
            <ul class="footer__nav-list">
                <li class="footer__list-item--title footer__list-item">
                    {{$t("components.FooterBlock.getInvolved")}}
                </li>
                <li class="footer__list-item">
                    {{$t("components.FooterBlock.contributionBible")}}
                </li>
                <li class="footer__list-item">
                    {{$t("components.FooterBlock.addNewMovie")}}
                </li>
                <li class="footer__list-item">
                    {{$t("components.FooterBlock.addNewTVShow")}}
                </li>

            </ul>
            <ul class="footer__nav-list">
                <li class="footer__list-item--title footer__list-item">
                    {{$t("components.FooterBlock.community")}}
                </li>
                <li class="footer__list-item">
                    {{$t("components.FooterBlock.guidelines")}}
                </li>
                <li class="footer__list-item">
                    {{$t("components.FooterBlock.discussions")}}
                </li>
                <li class="footer__list-item">
                    {{$t("components.FooterBlock.leaderboard")}}
                </li>
                <li class="footer__list-item">
                    <a href="https://twitter.com/themoviedb" class="list-item__link">
                        {{$t("components.FooterBlock.twitter")}}
                    </a>
                </li>
            </ul>
            <ul class="footer__nav-list">
                <li class="footer__list-item--title footer__list-item">
                    {{$t("components.FooterBlock.legal")}}
                </li>
                <li class="footer__list-item">
                    {{$t("components.FooterBlock.termsOfUse")}}
                </li>
                <li class="footer__list-item">
                    {{$t("components.FooterBlock.apiTermsOfUse")}}
                </li>
                <li class="footer__list-item">
                    {{$t("components.FooterBlock.privacyPolicy")}}
                </li>
            </ul>
        </nav>
    </footer>
</template>

<script>

export default {
    name: 'FooterBlock'
}
</script>
