<template>
    <header
        ref="header"
        class="header"
    >
        <div class="header__inner container">
            <div class="category__nav-wrapper">
                <icon
                    icon="@custom:iv:ham"
                    id="icon--heart"
                    width="50"
                    height="50"
                    :class="[
                        'ham hamRotate ham7',
                        {
                            'active': hamActive
                        }]"
                    @click="openMenu($event)"
                    ref="hamBtn"
                />
                <router-link
                    :to="{
                        name: 'HomePage'
                    }"
                    class="logo"
                >
                    <img src="../assets/logo.svg">
                </router-link>
                <nav class="header__nav">
                    <ul class="list">
                        <li class="list__item">
                            <router-link
                                :to="{
                                    name: 'FilmsPage'
                                }"
                                class="list__item-link"
                            >
                                {{ $t("general.films") }}
                            </router-link>
                        </li>
                        <li class="list__item">
                            <router-link
                                :to="{
                                    name: 'SerialsPage'
                                }"
                                class="list__item-link"
                            >
                                {{ $t("general.serials") }}
                            </router-link>
                        </li>
                        <li class="list__item">
                            <router-link
                                :to="{
                                    name: 'PersonsPage'
                                }"
                                class="list__item-link"
                            >
                                {{ $t("general.persons") }}
                            </router-link>
                        </li>
                    </ul>
                </nav>
            </div>
            <ul class="primary">
                <li class="primary__item">
                    <iv-lang-select/>
                </li>
                <li class="primary__item">
                    <router-link
                        :to="{
                            name: 'FavoritesPage'
                        }"
                        class="primary__item-link"
                    >
                    <icon
                        icon="@custom:iv:heart"
                        id="icon--heart"
                        width="32"
                        height="32"
                    />

                    </router-link>
                </li>
                <li class="primary__item">
                    <router-link
                        :to="{
                            name: 'SearchPage'
                        }"
                        class="primary__item-link"
                    >
                        <icon
                            icon="@custom:iv:search"
                            id="icon--heart"
                            width="32"
                            height="32"
                        />
                    </router-link>
                </li>
            </ul>
        </div>

    </header>
</template>

<script>

import IvLangSelect from "../components/IvLangSelect.vue";

export default {
    name: 'HeaderBlock',
    components: {IvLangSelect},
    data() {
        return {
            hamActive: false
        }
    },
    methods: {
        headerPositioning() {
            let header = this.$refs.header,
                app = document.querySelector('#app'),
                scrollPosOld = 0;

            window.addEventListener('scroll', () => {
                let scrollPos = window.pageYOffset;

                if (scrollPos > header.getBoundingClientRect().height) {
                    if (!app.classList.contains('menu-opened')) {
                        header.style.top = `-${header.getBoundingClientRect().height}px`
                    }
                    if (scrollPos < scrollPosOld) {
                        header.style.top = '0'
                    }
                } else {
                    header.style.top = '0'
                }

                scrollPosOld = scrollPos;
            });
        },
        openMenu(e) {
            e.target.classList.contains('active') ? this.hideMenu(e) : this.showMenu(e)
        },
        showMenu() {
            this.hamActive = true
            document.querySelector('html').style.overflowY = 'hidden'
            document.querySelector('#app').classList.add('menu-opened')
        },
        hideMenu() {
            this.hamActive = false
            document.querySelector('html').style.overflowY = 'visible'
            document.querySelector('#app').classList.remove('menu-opened')
        }
    },
    mounted() {
        this.headerPositioning()
    },
    watch: {
        $route(to, from) {
            this.hideMenu()
        }
    }
}
</script>
