<template>
    <div class="movie-card">
        <div
            :class="['movie-card__wrapper', {
                'horizontal': horizontalCard
            }]"
        >
            <div class="position-relative">
                <iv-skeleton
                    class="movie-card__img"
                    height="225px"
                    width="150px"
                />
            </div>
            <div class="movie-card__info">
                <iv-skeleton
                    class="movie-card__title"
                    height="36px"
                />
                <iv-skeleton
                    class="movie-card__date"
                    margin-top="5px"
                    height="20px"
                />
            </div>
        </div>
    </div>
</template>

<script>
import IvSkeleton from "../components/IvSkeleton.vue";

export default {
    name: "MovieCardSkeleton",
    components: {
        IvSkeleton
    },
    props: {
        horizontalCard: {
            type: Boolean,
            default: false
        },
    }
}
</script>
