<template>
    <div
        class="movie-card"
        @mouseover="$emit('movieCardMouseover', card)"
    >
        <router-link
            :class="['movie-card__wrapper', {
                'horizontal': horizontalCard
            }]"
            :to="to"
        >
            <div class="position-relative">
                <img
                    :src="compPicturePath"
                    class="movie-card__img"
                >
                <round-progress
                    v-if="rate"
                    :rate="card.vote_average"
                />
                <icon
                    class="play-icon"
                    v-if="horizontalCard"
                    icon="@custom:iv:play"
                    width="64"
                    height="64"
                />
            </div>
            <div class="movie-card__info">
                <div class="movie-card__title">
                    {{ compCardTitle }}
                </div>
                <div
                    v-if="this.card.release_date || this.card.first_air_date"
                    class="movie-card__date"
                >
                    {{ compCardDate }}
                </div>
            </div>
        </router-link>
        <button
            v-if="favoriteBtn"
            :class="[
                    'movie-card__btn',
                    {
                        'active': checkFavourite(card.id)
                    }
                ]"
            @click="ACT_ADD_REMOVE_FAVORITES(card)"
        >
            <icon
                icon="@custom:iv:heart"
                width="32"
                height="32"
            />
        </button>
    </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
import RoundProgress from "../components/RoundProgress.vue";

export default {
    name: 'MoviesCard',
    components: {
        RoundProgress
    },
    emits: ['movieCardMouseover'],
    data() {
        return {
            imageUrl: import.meta.env.VITE_IMAGE_URL,
            to: {
                name: this.card.media_type === 'movie' ? 'FilmsItemPage' : 'SerialsItemPage',
                params: {
                    card: this.card,
                    id: this.card.id,
                    media_type: this.card.media_type
                }
            }
        }
    },
    computed: {
        ...mapGetters([
            'GET_FAVORITES'
        ]),
        compCardTitle() {
            return this.card.title || this.card.original_title || this.card.name || this.card.original_name
        },
        compPicturePath() {
            if (this.card.poster_path) {
                return this.imageUrl + this.card.poster_path
            } else if (this.card.backdrop_path) {
                return this.imageUrl + this.card.backdrop_path
            } else if (this.card.key) {
                return `https://i.ytimg.com/vi_webp/${this.card.key}/mqdefault.webp`
            }
        },
        compCardDate() {
            return this.card.release_date ? this.card.release_date : this.card.first_air_date
        }
    },
    props: {
        card: {
            type: [Object, Array],
            default: () => []
        },
        horizontalCard: {
            type: Boolean,
            default: false
        },
        rate: {
            type: Boolean,
            default: true
        },
        favoriteBtn: {
            type: Boolean,
            default: true
        }
    },
    methods: {
        ...mapActions([
            'ACT_ADD_REMOVE_FAVORITES'
        ]),
        checkFavourite(id) {
            return this.GET_FAVORITES.some(el => el.id === id)
        }
    }
}
</script>
