<template>
    <section
        class="scroller"
        :class="darkTheme ? 'dark-theme' : ''"
        ref="scroller"
    >
        <div v-if="darkTheme" class="scroller-gradient"></div>
        <div class="scroller__header">
            <div class="scroller__title">
                {{ scrollerTitle }}
            </div>
            <scroller-tabs :darkTheme="darkTheme"
                           :scrollerType="scrollerType"
                           :scrollerFirstTabText="scrollerFirstTabText"
                           :scrollerSecondTabText="scrollerSecondTabText"
                           v-if="scrollerToggles"/>
        </div>
        <div class="scroller__wrapper">
<!--            <div v-for="item in scrollerData"-->
<!--                 class="scroller__card"-->
<!--                 @mouseover="changeBg(item)"-->
<!--                 @click="goToFilm(item)">-->
<!--                <div class="scroller__card-wrapper">-->
<!--                    <img loading="lazy"-->
<!--                         :src="picturePath(item)" alt=""-->
<!--                         class="scroller__card-img">-->
<!--                    <icon-->
<!--                        class="play-icon"-->
<!--                        v-if="scrollerType == 'trailers'"-->
<!--                        icon="@custom:iv:play"-->
<!--                        width="64"-->
<!--                        height="64"-->
<!--                    />-->
<!--                </div>-->

<!--                <div class="scroller__card-info">-->
<!--                    <div class="card-title">-->
<!--                        <template v-if="item.original_title">-->
<!--                            {{ item.original_title }}-->
<!--                        </template>-->
<!--                        <template v-else-if="item.title">-->
<!--                            {{ item.title }}-->
<!--                        </template>-->
<!--                        <template v-else-if="item.name">-->
<!--                            {{ item.name }}-->
<!--                        </template>-->
<!--                    </div>-->
<!--                    <time class="card-date" v-if="showDate">-->
<!--                        {{ item.release_date ? item.release_date : item.first_air_date }}-->
<!--                    </time>-->
<!--                </div>-->
<!--            </div>-->
            <template v-if="scrollerData.length">
                <movies-card
                    v-for="card in scrollerData"
                    :card="card"
                    :horizontalCard="horizontalCard"
                    :favorite-btn="favoriteBtn"
                    :rate="!horizontalCard"
                    @movie-card-mouseover="changeBg($event)"
                />
            </template>
            <template v-else>
                <movie-card-skeleton
                    v-for="(_, idx) in 15"
                    :key="idx"
                />
            </template>
        </div>
    </section>
</template>

<script>
import scrollerTabs from "./ScrollerTabs.vue";
import MoviesCard from "./MoviesCard.vue";
import MovieCardSkeleton from "./MovieCardSkeleton.vue";

export default {
    name: 'Scroller',
    data() {
        return {
            imageUrl: import.meta.env.VITE_IMAGE_URL,
            bgImgUrl: import.meta.env.VITE_1920_х_427_IMAGE_URL
        }
    },
    components: {
        MovieCardSkeleton,
        MoviesCard,
        scrollerTabs
    },
    props: {
        scrollerTitle: String,
        showDate: Boolean,
        darkTheme: {
            type: Boolean,
            default: false
        },
        horizontalCard: {
            type: Boolean,
            default: false
        },
        favoriteBtn: {
            type: Boolean,
            default: false
        },
        scrollerType: {
            type: String,
            default: 'trailers'
        },
        scrollerFirstTabText: {
            type: String,
            default: 'Сьогодні'
        },
        scrollerSecondTabText: {
            type: String,
            default: 'На цьому тижні'
        },
        scrollerToggles: Boolean,
        scrollerData: {
            type: [Array, Object],
            default: () => {
                return []
            }
        }
    },
    methods: {
        picturePath(item) {
            if (item.poster_path) {
                return this.imageUrl + item.poster_path
            } else if (item.backdrop_path) {
                return this.imageUrl + item.backdrop_path
            } else if (item.key) {
                return `https://i.ytimg.com/vi_webp/${item.key}/mqdefault.webp`
            }
        },
        changeBg(item) {
            if (this.$refs.scroller.classList.contains('dark-theme')) {
                this.$refs.scroller.style.backgroundImage = `url('${this.picturePath(item)}')`
            }
        }
    },
}
</script>
