<template>
    <header-block/>
    <router-view></router-view>
    <footer-block/>
</template>

<script>
import HeaderBlock from "./blocks/HeaderBlock.vue";
import FooterBlock from "./blocks/FooterBlock.vue";

export default {
    name: 'App',
    components: {
        HeaderBlock,
        FooterBlock
    }
}
</script>
